<h1>Modification de l'auteur : {{ auther.name }}</h1>

{{ form_start(formAuther) }}
    {{ form_row(formAuther.name) }}
    {{ form_row(formAuther.email) }}
<button type="submit">Sauvegarder les modifications</button>
{{ form_end(formAuther) }}